@font-face {
	font-family: "Druk Wide Bold";
	src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot");
	src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold")
			format("svg");
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	font-family: Druk Wide Bold;
}

a:visited,
a:link,
a:active,
a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

h1 {
	font-family: Druk Wide Bold;
}
p {
	font-family: Helvetica;
}

button:hover {
	cursor: pointer;
}

.light {
	body {
		background-color: whitesmoke;
		position: fixed;
	}
	.button {
		font-family: Druk Wide Bold;
		text-transform: uppercase;
		color: #000;
		height: 32px;
		width: 32px;
		border: 3px solid;
		padding: 0.25em 0.5em;
		box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
			4px 4px 0px 0px, 5px 5px 0px 0px;
		position: relative;
		touch-action: manipulation;
		text-align: center;
	}

	.button:active {
		box-shadow: 0px 0px 0px 0px;
		height: 32px;
		width: 32px;
	}
	.landing {
		z-index: 1;
		position: absolute;
		top: 50%;
		width: 50%;
		left: 25%;
		right: 25%;
		text-align: center;
		font-size: 14px;
		border-top: 2px solid black;
		h1 {
			font-family: Druk Wide Bold;
			color: black;
		}
		.button {
			align-items: center;
			left: 0rem;
			width: fit-content;
			text-align: center;
		}
		.button:active {
			box-shadow: 0px 0px 0px 0px;
			top: 0rem;
			width: fit-content;
		}
	}

	.canvas {
		height: 100%;
	}
	.contact {
		padding: 1rem;
		height: 100vh;
		width: 100%;
		background-color: whitesmoke;
		p {
			font-size: 14px;
		}
	}
	.linkedin-icon {
		height: 30px;
		width: 30px;
	}
	.project-page-intro {
		background-color: whitesmoke;
		padding: 1rem;
		height: auto;
		width: 100%;
	}
	.project-cards {
		background-color: whitesmoke;
		height: auto;
		width: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
		grid-gap: 1em;
		padding: 1em;
		.project-card-map {
			padding: 1rem;
			border: 3px groove black;
			box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
				4px 4px 0px 0px, 5px 5px 0px 0px;
		}
		h1 {
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 22px;
			word-wrap: normal;
			padding: 0rem;
			text-align: center;
		}
		p {
			text-align: justify;
		}
		.buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			height: auto;
			.button {
				margin: 1rem;
				margin-bottom: 1rem;
				font-size: small;
				margin-bottom: 3rem;
			}
			#github-repo {
				width: auto;
				height: auto;
			}
			#hosted-link {
				width: auto;
				height: auto;
			}
		}
		p {
			font-size: 15px;
		}
		.language-icon-map {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
			grid-gap: 0.75em;
			margin: 1rem;
		}
		.language-icon {
			height: 100%;
			width: 100%;
		}
	}
	.about {
		background-color: whitesmoke;
		padding: 1rem;
		height: 100vh;
		width: 100%;
		.content {
			display: grid;
			grid-template-columns: 2fr 1fr;
			p {
				font-size: 14px;
				grid-column-start: 1;
				grid-column-end: 2;
				text-align: justify;
			}
			.liam-headshot {
				grid-column-start: 2;
				grid-column-end: 3;
				padding: 1rem;
				width: 300px;
				overflow: hidden;
				border-radius: 50%;
				margin: -10px 0 0 0;
			}
		}
		.button {
			font-family: Druk Wide Bold;
			text-transform: uppercase;
			color: #000;
			border: 3px solid;
			padding: 0.25em 0.5em;
			box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
				4px 4px 0px 0px, 5px 5px 0px 0px;
			position: relative;
			left: 45%;
			right: 45%;
			width: 10%;
			touch-action: manipulation;
		}
		.button:active {
			box-shadow: 0px 0px 0px 0px;
			left: 45%;
			right: 45%;
			width: 10%;
		}
	}
	.navbar {
		background-color: whitesmoke;
		padding: 1rem;
		z-index: 5;
		.button {
			position: absolute;
			width: 2rem;
			top: 1rem;
			z-index: 10;
		}
		#theme-button {
			font-family: Druk Wide Bold;
			text-transform: uppercase;
			font-weight: bold;
			color: #000;
			border: 3px solid;
			padding: 0.25em 0.5em;
			box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
				4px 4px 0px 0px, 5px 5px 0px 0px;
			position: absolute;
			top: 1rem;
			left: 4rem;
			width: 2rem;
			z-index: 10;
			touch-action: manipulation;
		}
		#theme-button:active {
			box-shadow: 0px 0px 0px 0px;
			left: 4rem;
			z-index: 10;
		}
		.hamburger-menu-content {
			position: absolute;
			top: 4rem;
			z-index: 10;
			display: flex;
			flex-direction: column;
			justify-content: left;
			align-items: flex-start;
			backdrop-filter: blur(100px);
		}
		.hamburger-menu-content:hover {
			background-color: rgb(255, 255, 255);
			border: 3px solid;
		}
		.drop-content #show {
			padding: 0.1rem;
			background-color: rgb(255, 255, 255);
			border: 3px solid;
		}
		#hide,
		.hide {
			display: none;
		}
		#show,
		.show {
			display: block;
		}
	}
	.header-icons {
		z-index: 2;
		position: fixed;
		right: 1rem;
		top: 1rem;
		.github-icon-header {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 1em;
		}
		.linkedin-icon-header {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 4rem;
		}
		.CV-icon-header {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 7rem;
		}
	}

	.button-change-colors {
		font-family: Druk Wide Bold;
		text-transform: uppercase;
		color: #000;
		border: 3px solid;
		padding: 0.25em 0.5em;
		box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
			4px 4px 0px 0px, 5px 5px 0px 0px;
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		width: fit-content;
		z-index: 10;
		touch-action: manipulation;
	}

	.button-change-colors:active {
		box-shadow: 0px 0px 0px 0px;
		z-index: 10;
		bottom: 1rem;
		left: 1rem;
		width: fit-content;
		z-index: 10;
	}
}

.dark {
	body {
		background-color: rgb(37, 37, 37);
		position: fixed;
	}
	.button {
		font-family: Druk Wide Bold;
		text-transform: uppercase;
		color: #000;
		height: 32px;
		width: 32px;
		border: 3px solid;
		padding: 0.25em 0.5em;
		box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
			4px 4px 0px 0px, 5px 5px 0px 0px;
		position: relative;
		touch-action: manipulation;
		text-align: center;
	}
	.button:active {
		box-shadow: 0px 0px 0px 0px;
		height: 32px;
		width: 32px;
	}
	.landing {
		z-index: 1;
		position: absolute;
		top: 50%;
		width: 50%;
		left: 25%;
		right: 25%;
		text-align: center;
		font-size: 14px;
		border-top: 2px solid rgb(255, 255, 255);
		box-shadow: 0px -1px 0 #000;
		h1 {
			font-family: Druk Wide Bold;
			color: white;
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
				1px 1px 0 #000;
		}
		.button {
			align-items: center;
			left: 0rem;
			width: fit-content;
			text-align: center;
		}
		.button:active {
			box-shadow: 0px 0px 0px 0px;
			top: 0rem;
			width: fit-content;
		}
	}

	.canvas {
		height: 100%;
	}
	.contact {
		padding: 1rem;
		height: 100vh;
		width: 100%;
		background-color: rgb(37, 37, 37);
		color: whitesmoke;
		p {
			font-size: 14px;
		}
	}
	.linkedin-icon {
		height: 30px;
		width: 30px;
	}
	.project-page-intro {
		color: whitesmoke;
		background-color: rgb(37, 37, 37);
		padding: 1rem;
		height: auto;
		width: 100%;
	}
	.project-cards {
		background-color: rgb(37, 37, 37);
		height: auto;
		width: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
		grid-gap: 1em;
		padding: 1em;
		.project-card-map {
			padding: 1rem;
			border: 3px groove black;
			box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
				4px 4px 0px 0px, 5px 5px 0px 0px;
		}
		h1 {
			color: whitesmoke;
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 22px;
			word-wrap: normal;
			padding: 0rem;
			text-align: center;
		}
		p {
			color: whitesmoke;
			text-align: justify;
		}
		.buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			height: auto;
			color: whitesmoke;
			.button {
				margin: 1rem;
				margin-bottom: 1rem;
				font-size: small;
				margin-bottom: 3rem;
				background-color: whitesmoke;
			}
			#github-repo {
				width: auto;
				height: auto;
			}
			#hosted-link {
				width: auto;
				height: auto;
			}
		}
		p {
			font-size: 15px;
		}
		.language-icon-map {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
			grid-gap: 0.75em;
			margin: 1rem;
		}
		.language-icon {
			height: 100%;
			width: 100%;
		}
	}
	.about {
		background-color: rgb(37, 37, 37);
		padding: 1rem;
		height: 100vh;
		width: 100%;
		color: whitesmoke;
		.content {
			display: grid;
			grid-template-columns: 2fr 1fr;
			p {
				font-size: 14px;
				grid-column-start: 1;
				grid-column-end: 2;
				text-align: justify;
			}
			.liam-headshot {
				grid-column-start: 2;
				grid-column-end: 3;
				padding: 1rem;
				width: 300px;
				overflow: hidden;
				border-radius: 50%;
				margin: -10px 0 0 0;
			}
		}
		.button {
			font-family: Druk Wide Bold;
			text-transform: uppercase;
			color: #000;
			border: 3px solid;
			padding: 0.25em 0.5em;
			box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
				4px 4px 0px 0px, 5px 5px 0px 0px;
			position: relative;
			left: 45%;
			right: 45%;
			width: 10%;
			touch-action: manipulation;
			background-color: whitesmoke;
		}
		.button:active {
			box-shadow: 0px 0px 0px 0px;
			left: 45%;
			right: 45%;
			width: 10%;
		}
	}
	.navbar {
		background-color: rgb(37, 37, 37);
		padding: 1rem;
		z-index: 5;
		.button {
			position: absolute;
			width: 2rem;
			top: 1rem;
			z-index: 10;
		}
		#theme-button {
			font-family: Druk Wide Bold;
			text-transform: uppercase;
			font-weight: bold;
			color: #000;
			border: 3px solid;
			padding: 0.25em 0.5em;
			box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
				4px 4px 0px 0px, 5px 5px 0px 0px;
			position: absolute;
			top: 1rem;
			left: 4rem;
			width: 2rem;
			z-index: 10;
			touch-action: manipulation;
		}
		#theme-button:active {
			box-shadow: 0px 0px 0px 0px;
			left: 4rem;
			z-index: 10;
		}
		.hamburger-menu-content {
			position: absolute;
			top: 4rem;
			z-index: 10;
			display: flex;
			flex-direction: column;
			justify-content: left;
			align-items: flex-start;
			backdrop-filter: blur(100px);
			background-color: whitesmoke;
		}
		.hamburger-menu-content:hover {
			background-color: whitesmoke;
			border: 3px solid;
		}
		.drop-content #show {
			padding: 0.1rem;
			background-color: rgb(37, 37, 37);
			border: 3px solid;
		}
		#hide,
		.hide {
			display: none;
		}
		#show,
		.show {
			display: block;
		}
	}
	.header-icons {
		z-index: 2;
		position: fixed;
		right: 1rem;
		top: 1rem;
		.github-icon-header {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 1em;
		}
		.linkedin-icon-header {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 4rem;
		}
		.CV-icon-header {
			height: 30px;
			width: 30px;
			position: absolute;
			right: 7rem;
		}
	}

	.button-change-colors {
		font-family: Druk Wide Bold;
		text-transform: uppercase;
		color: #000;
		border: 3px solid;
		padding: 0.25em 0.5em;
		box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
			4px 4px 0px 0px, 5px 5px 0px 0px;
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		width: fit-content;
		z-index: 10;
		touch-action: manipulation;
	}

	.button-change-colors:active {
		box-shadow: 0px 0px 0px 0px;
		z-index: 10;
		bottom: 1rem;
		left: 1rem;
		width: fit-content;
		z-index: 10;
	}
}
