* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Druk Wide Bold";
	src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot");
	src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold")
			format("svg");
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	font-family: Druk Wide Bold;
}

body {
	background-color: #121212;
	// background-color: white;

	position: fixed;
}

.landing {
	z-index: 1;
	position: absolute;
	top: 50%;
	width: 50%;
	left: 25%;
	right: 25%;
	text-align: center;
	font-size: 14px;
	background-color: transparent;
	border-top: 2px solid black;
	h1 {
		font-family: Druk Wide Bold;
		color: white;
		text-decoration: dashed;
	}
}

.color-change-button {
	position: absolute;
	height: 2.5%;
	top: 47.5%;
	bottom: 50%;
	z-index: 1;
	left: 1rem;
}

.contact {
	p {
		font-size: 12px;
	}
}
.linkedin-icon {
	height: 30px;
	width: 30px;
}

.navbar-icons {
	.github-icon-header {
		height: 30px;
		width: 30px;
		position: absolute;
		right: 3rem;
	}
	.linkedin-icon-header {
		height: 30px;
		width: 30px;
		position: absolute;
		right: 6rem;
	}
	.CV-icon-header {
		height: 30px;
		width: 30px;
		position: absolute;
		right: 9rem;
	}
}

.project-page-intro {
	padding: 1rem;
}
.project-cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(50%, 1fr));
	grid-auto-rows: minmax(auto, auto);
	grid-gap: 1em;
	padding: 1em;
	h1 {
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 22px;
		word-wrap: normal;
		.github-repo-icon {
			height: 30px;
			width: 30px;
		}
	}
	p {
		font-size: 13px;
	}
	.project-card-map {
		padding: 0.5em;
	}
	.language-icon-map {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
		grid-auto-rows: minmax(50px, auto);
		grid-gap: 0.75em;
		padding: 0.2em;
	}
	.language-icon {
		height: 100%;
		width: 100%;
	}
}

.CV-button {
	width: 25%;
	left: 37.5%;
	right: 37.5%;
}

.about-text {
	padding: 1em;
}

.Navbar {
	padding: 1rem;

	.hamburger-menu-button {
		position: absolute;
	}
	.hamburger-menu-content {
		position: absolute;
		top: 4rem;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: flex-start;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.drop-content #show {
		padding: 0.1rem;
	}
	#hide,
	.hide {
		display: none;
	}
	#show,
	.show {
		display: block;
	}
}
