* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

body {
	background-color: #f1f4f8;
	position: fixed;
}

.landing {
	z-index: 1;
	position: absolute;
	top: 50%;
	width: 50%;
	left: 25%;
	right: 25%;
	text-align: center;
	font-size: 14px;
	background-color: transparent;
	border-top: 2px solid black;
}

.language-icon {
	height: 5%;
	width: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
	grid-auto-rows: minmax(100px, auto);
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	grid-auto-rows: minmax(300px, auto);
	grid-gap: 1em;
	padding: 1rem;
}
